#title {
    text-align: center;
    height:100px;
    width:700px;
    left:500px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    
}
#secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    text-align:center;
    height:100px;
    width:1000px;
    left:350px;
    top:50px;
}
#sourcesLink {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:50px;
    width:100px;
    left:770px;
    top:200px;

    
}
#text1948,#text1950,#text1960,#text1970,#text1980,#text1990 {
    visibility:hidden;
    color: black;
    background-color: dimgrey;
    
}
#button1948,#button1950,#button1960,#button1970,#button1980,#button1990 {
    background-color: dimgrey;
    position: absolute;
    
}

#nelsonMandelaImage1 {
    visibility: hidden;
    height:300px;
    width:450px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    background: url("Images/Nelson-Mandela-Image-1.jpg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
    top:500px;
    left:1025px;
    
    
}

#FWdeKlerkImage2 {
    visibility: hidden;
    height:300px;
    width:450px;
    top:150px;
    left:1025px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    background: url("Images/FWdeKlerk.jpg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

#apartheidImage3 {
    visibility: hidden;
    height:300px;
    width:450px;
    top:500px;
    left:1025px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    background: url("Images/1_Kq3ODBk2YJcukpT9I0wxjg.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

#apartheidImage4 {
    visibility: hidden;
    height:300px;
    width:450px;
    top:150px;
    left:1025px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    background: url("Images/photo-gallery-apartheid-getty-2664162.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

#apartheidImage5 {
    visibility: hidden;
    height:300px;
    width:450px;
    top:500px;
    left:1025px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    background: url("Images/harvardapartheidprotest.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

#apartheidImage6 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:300px;
    width:450px; 
    top:150px;
    left:1025px;
    background: url("Images/no_british_arms_for_south_africa_s.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

#apartheidImage7 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:300px;
    width:450px; 
    top:500px;
    left:1025px;
    background: url("Images/za}anc.gif");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

#apartheidImage8 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:300px;
    width:450px; 
    top:150px;
    left:1025px;
    background: url("Images/NPSA_Logo.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}


#apartheidImage9 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:300px;
    width:450px; 
    top:150px;
    left:1025px;
    background: url("Images/South_Africa_racial_map,_1979.gif");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

#apartheidImage10 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:300px;
    width:450px; 
    top:150px;
    left:1025px;
    background: url("Images/apartheidsign.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage11 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:300px;
    width:450px; 
    top:500px;
    left:1025px;
    background: url("Images/ANC1914.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage12 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:300px;
    width:450px; 
    top:500px;
    left:1025px;
    background: url("Images/the_south_african_experience_with_changing_the_police_from_within_1050x700.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

#apartheidImage13 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:300px;
    width:450px; 
    top:150px;
    left:175px;
    background: url("Images/winnieMandela.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage14 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:300px;
    width:450px; 
    top:500px;
    left:175px;
    background: url("Images/helenSuzman.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage15 {
    visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;

    position: absolute;
    margin:auto;
    height:300px;
    width:450px;
    top:150px;
    left:175px;
    background: url("Images/stopApartheidRepression.webp");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage16 {
    visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;

    position: absolute;
    margin:auto;
    height:300px;
    width:450px;
    top:500px;
    left:175px;
    background: url("Images/apartheidProtest.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage17 {
    visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;

    position: absolute;
    margin:auto;
    height:300px;
    width:450px;
    top:150px;
    left:175px;
    background: url("Images/sharpevilleMassacre.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage18 {
    visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;

    position: absolute;
    margin:auto;
    height:300px;
    width:450px;
    top:500px;
    left:175px;
    background: url("Images/menAtGunPoint.webp");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage19 {
    visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;

    position: absolute;
    margin:auto;
    height:300px;
    width:450px;
    top:150px;
    left:175px;
    background: url("Images/whiteOnlyBench.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage20 {
    visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;

    position: absolute;
    margin:auto;
    height:300px;
    width:450px;
    top:500px;
    left:175px;
    background: url("Images/whitesOnlySign.avif");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage21 {
    visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;

    position: absolute;
    margin:auto;
    height:300px;
    width:450px;
    top:150px;
    left:175px;
    background: url("Images/SANCO.webp");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage22 {
    visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;

    position: absolute;
    margin:auto;
    height:300px;
    width:450px;
    top:500px;
    left:175px;
    background: url("Images/panAfricanistCongress.png");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage23 {
    visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;

    position: absolute;
    margin:auto;
    height:300px;
    width:450px;
    top:150px;
    left:175px;
    background: url("Images/nationalPartyMembers.jpeg");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}
#apartheidImage24 {
    visibility: hidden;
    display: flex;
    align-items:center;
    justify-content: center;

    position: absolute;
    margin:auto;
    height:300px;
    width:450px;
    top:500px;
    left:175px;
    background: url("Images/colonialismMap.png");
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

#resetButton {
    background-color:lightsteelblue;
    height: 20px;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    
    top:750px;
    left:775px;
}
#button1948 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    
    top:300px;
    left:800px;
}
#button1950 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    
    top:375px;
    left:800px;
}
#button1960 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    
    top:450px;
    left:800px;
}
#button1970 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    
    top:525px;
    left:800px;
}
#button1980 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    
    top:600px;
    left:800px;
}
#button1990 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    
    top:675px;
    left:800px;
}
#text1948 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:400px;
    width:1600px;
    top:850px;
    left:50px;

    
    visibility: hidden;
}
#text1950 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height: 400px;
    width: 1600px;
    top:850px;
    left:50px;
    
    visibility: hidden;
}
#text1960 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height: 400px;
    width: 1600px;
    top:850px;
    left:50px;
    
    visibility: hidden;
}
#text1970 {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    margin:auto;
    height: 400px;
    width: 1600px;
    top:850px;
    left:50px;
    
    visibility: hidden;
}
#text1980 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    text-align:left;
    height: 400px;
    width: 1600px;
    top:850px;
    left:50px;
    
    visibility: hidden;
}
#text1990 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height: 400px;
    width: 1600px;
    top:850px;
    left:50px;
    
    visibility: hidden;
}
#scrollBoi {
    height:20px;
    width:20px;
    position:absolute;
    top:1400px;
    visibility: visible;
    /* background-color: red; */
}

body {
    background-color: silver;
    font-family: 'Courier New', Courier, monospace;
    
}
* {
    font-family: 'Courier New', Courier, monospace;
    /* border:dashed red; */
}