#title {
    text-align: center;
    height:100px;
    width:700px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:relative;
    margin:auto;
    
}
#secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
    height:100px;
    width:1000px;
    left:350px;
    top:30px;
}
#sourcesLink {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    margin:auto;
    height:50px;
    width:100px;
    left:770px;
    top:200px;

    
}
#text1948,#text1950,#text1960,#text1970,#text1980,#text1990 {
    visibility:hidden;
    color: black;
    background-color: dimgrey;
    
}
#button1948,#button1950,#button1960,#button1970,#button1980,#button1990 {
    background-color: dimgrey;
    position: fixed;
    
}
#nelsonMandelaImage1 {
    visibility: hidden;
    height:300px;
    width:450px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    top:500px;
    left:1025px;
    
    
}

#nelsonMandelaCaption1 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:50px;
    width:400px;
    top:800px;
    left:1050px;
    
}

.nelsonMandelaImageOne {
    visibility: visible;
    
}

#FWdeKlerkImage2 {
    visibility: hidden;
    height:300px;
    width:450px;
    top:150px;
    left:1025px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
}

#FWdeKlerkCaptionTwo {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:50px;
    width:400px;
    top:450px;
    left:1050px;
    
}

.FWdeKlerkImageTwo {
    visibility: visible;
    
}

#apartheidImage3 {
    visibility: hidden;
    height:300px;
    width:450px;
    top:500px;
    left:1025px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
}

#apartheidImageCaption3 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:50px;
    width:400px;
    top:800px;
    left:1050px;
    
}

#apartheidImage4 {
    visibility: hidden;
    height:300px;
    width:450px;
    top:150px;
    left:1025px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
}

#apartheidImageCaption4 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:50px;
    width:400px;
    top:450px;
    left:1050px;
    
}

#apartheidImage5 {
    visibility: hidden;
    height:300px;
    width:450px;
    top:500px;
    left:1025px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
}

#apartheidImageCaption5 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:50px;
    width:400px;
    top:800px;
    left:1050px;
    
}

#apartheidImage6 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:300px;
    width:450px; 
    top:150px;
    left:1025px;
    
}

#apartheidImageCaption6 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:50px;
    width:400px;
    top:450px;
    left:1050px;
    text-align: center;
    
}

#apartheidImage7 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:300px;
    width:450px; 
    top:500px;
    left:1025px;
}

#apartheidImageCaption7 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:50px;
    width:400px;
    top:800px;
    left:1050px;
    text-align: center;
}
#apartheidImage8 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:300px;
    width:450px; 
    top:150px;
    left:1025px;
}

#apartheidImageCaption8 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:50px;
    width:400px;
    top:450px;
    left:1050px;
    text-align: center;
}

#apartheidImage9 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:300px;
    width:450px; 
    top:325px;
    left:1025px;
}

#apartheidImageCaption9 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:50px;
    width:400px;
    top:625px;
    left:1050px;
    text-align: center;
}

#apartheidImage10 {
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:300px;
    width:450px; 
    top:325px;
    left:1025px;
}
#apartheidImageCaption10 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:50px;
    width:400px;
    top:625px;
    left:1050px;
    text-align: center;
}
.allButtons {
    top:0px;
    
}
#resetButton {
    background-color:lightsteelblue;
    height: 20px;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
    top:750px;
    left:775px;
}
#button1948 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
    top:300px;
    left:800px;
}
#button1950 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
    top:375px;
    left:800px;
}
#button1960 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
    top:450px;
    left:800px;
}
#button1970 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
    top:525px;
    left:800px;
}
#button1980 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
    top:600px;
    left:800px;
}
#button1990 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    
    top:675px;
    left:800px;
}
#text1948 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height:750px;
    width:600px;
    top:150px;
    left:50px;

    
    visibility: hidden;
}
#text1950 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height: 750px;
    width: 600px;
    top:150px;
    left:50px;
    
    visibility: hidden;
}
#text1960 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height: 750px;
    width: 600px;
    top:150px;
    left:50px;
    
    visibility: hidden;
}
#text1970 {
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    margin:auto;
    height: 750px;
    width: 600px;
    top:150px;
    left:50px;
    
    visibility: hidden;
}
#text1980 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    text-align:left;
    height: 750px;
    width: 600px;
    top:150px;
    left:50px;
    
    visibility: hidden;
}
#text1990 {
    display: flex;
    align-items: center;
    justify-content: center;

    position:fixed;
    margin:auto;
    height: 750px;
    width: 600px;
    top:150px;
    left:50px;
    
    visibility: hidden;
}
body {
    background-color: silver;
    font-family: 'Courier New', Courier, monospace;
    
}
* {
    font-family: 'Courier New', Courier, monospace;
    /* border:dashed red; */
}